<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../../styles/styles.css"> -->
</head>
<style>
    .nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav .links a{
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.nav .links .mainlink{
    color: #e0501b;
}

.nav h4{
    font-size: 22px;
    font-weight: bold;
    margin-left: 25px;
}
</style>
<body>
    <div class="nav">
        <div class="logo" src="https://i.pinimg.com/736x/3d/c2/86/3dc286f0e39ed3ce8e4c9b3f6a32b16d.jpg">
            <h4>HealthCare</h4>
        </div>
        <div class="links">
            
            <a class="nav" href="/">Home</a>
            <a href="/signup">Signup</a>
            <a href="/contact">Contact</a>  
        </div>
    </div>
</body>
</html>